@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    color: #fff;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rowdies', cursive;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 0px solid #ffffff;
}

body {
    background-color: #17202A;
    overflow-x: hidden;
}

.prime__container {
    width: 100vw;
    .prime__navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 100px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        .logo {
            display: flex;
            align-items: center;
            img {
                width: 30px;
                height: 30px;
            }
            b {
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 1px;
                &:nth-child(4) {
                    color: #0f0;
                }
            }
        }
        .search_movie {
            width: 70%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                width: 100%;
                outline: none;
                padding: 8px 45px;
                border-radius: 10px;
                border: 2px solid #fff;
                color: #fff;
                font-size: 20px;
                background: transparent;
                letter-spacing: 1px;
            }
            a {
                position: absolute;
                color: #fff;
                left: 15px;
                font-size: 22px;
            }
        }
    }
    .watch__media {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
        .pro_title {
            font-size: 30px;
            padding: 10px;
            border-left: 10px solid #000;
            span {
                &:nth-child(1) {
                    color: #fff;
                    background-color: #f00;
                    padding: 2px;
                }
                &:nth-child(2) {
                    color: #fff;
                    border-top: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                }
            }
        }
        .movie_banner {
            width: 100%;
            padding: 0 70px;
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            .movie_mp4 {
                width: 69%;
                border: 2px solid red;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .movie_about {
                width: 29%;
                border-radius: 20px;
                padding: 15px;
                position: relative;
                .about_title {
                    text-align: center;
                    font-size: 18px;
                    letter-spacing: 1px;
                    font-weight: normal;
                    position: relative;
                }
                .icon_text {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    position: relative;
                    i {
                        font-size: 40px;
                        color: #fff;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        &:nth-child(2){
                            margin-left: 20px;
                        }
                    }
                    label {
                        margin-left: 20px;
                        font-size: 20px;
                        letter-spacing: 1px;
                        font-weight: normal;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                        transition: 0.5s;
                    }
                }
                .form_comment {
                    input {
                        width: 100%;
                        outline: none;
                        padding: 15px 60px 15px 15px;
                        background-color: transparent;
                        border: none;
                        border: 2px solid #fff;
                        border-radius: 20px;
                        font-size: 20px;
                        font-weight: normal;
                    }
                    i {
                        position: absolute;
                        right: 10px;
                        color: #0f0;
                        cursor: pointer;
                    }
                }
                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.3;
                    background-image: url("../../image/flash.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 20px;
                }
            }
        }
       
    }
    .other__media {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
        .pro_title {
            font-size: 30px;
            padding: 10px;
            border-left: 10px solid #000;
            span {
                &:nth-child(1) {
                    color: #fff;
                    background-color: #f00;
                    padding: 2px;
                }
                &:nth-child(2) {
                    color: #fff;
                    border-top: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                }
            }
        }
        .cardon_box_block {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 20px;
            padding: 0 120px;
            .movie_box {
                width: 24%;
                margin-top: 50px;
                background-color: #000;
                padding: 15px;
                border-radius: 20px;
                transition: 0.5s;
                img {
                    width: 100%;
                    height: 320px;
                    border-radius: 20px;
                }
                .film_heading {
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    font-size: 18px;
                    text-align: center;
                }
                .btn_watch {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 15px;
                    background-color: #800080c0;
                    padding: 10px 0;
                    border-radius: 10px;
                    font-weight: normal;
                    font-size: 15px;
                    transition: 0.4s;
                    &:hover {
                        background-color: #800080;
                    }
                }
                .yeyeye {
                    width: 100%;
                    display: flex;
                    margin-top: 15px;
                    align-items: center;
                    justify-content: space-between;
                    p {
                        font-size: 15px;
                        font-weight: 300;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        h6 {
                            font-size: 13px;
                            font-weight: 100;
                            margin-right: 5px;
                        }
                        i {
                            font-size: 20px;
                            color: #fff;
                        }
                    }
                }
                &:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }
    .prime__footer {
        width: 100%;
        margin-top: 10px;
        padding: 20px 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        .logo {
            display: flex;
            align-items: center;
            img {
                width: 30px;
                height: 30px;
            }
            b {
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 1px;
                &:nth-child(4) {
                    color: #0f0;
                }
            }
        }
    }
    .btn_telegram {
        padding: 15px;
        background-color: #00f;
        border: none;
        border-radius: 20px 0 0 20px;
        font-size: 25px;
        position: sticky;
        bottom: 100px;
        z-index: 100;
        float: right;
    }
}